html, body {

  margin: 0;
  padding: 0;
  background-color: rgb(166, 176, 79);
  font-family: sans-serif;
  overflow: hidden; /* remove a barra de rolagem */
  height: 100%;
}
.teste{
  position: absolute;
  margin: 100;
  padding: 100;
  font-family: sans-serif;
}
